.wrapper {
  position: absolute;
  top: 0 /* navbar offset */;
  left: 0;
  right: 0;
}

.documentContent {
  position: relative;
  overflow: hidden;
  padding: 0 60px 24px 60px;
  outline: none;
}

.header {
  color: #666 /* readable */;
  margin: 0;
  font-size: 24px;
  font-weight: normal;
  height: 70px;
  display: flex;
  align-items: center;
  p {
    margin: 0;
    min-height: 26px;
    line-height: 26px;
    white-space: pre-wrap;
    padding-left: 1px;
  }
  p:empty:after {
    content: '\200B';
  }
}

.list {
  padding-top: 10px;
  .listIfEmpty {
    color: #666;
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
  }
}

.node {
  line-height: 26px;
  color: #666;
  > .content {
    display: list-item;
    position: relative;
    padding-left: 12px;
    p {
      margin: 0;
      padding: 0;
      min-height: 26px;
      line-height: 26px;
      white-space: pre-wrap;
      padding-left: 1px;
      :global {
        .i {
          color: #4d4d4c;
          padding: 0;
        }
        .c { /* comment */
          color: #8e908c;
        }
        .d { /* document comment */
          color: #f5871f;
        }
        .k { /* keyword */
          color: #8959a8;
        }
        .v { /* value */
          color: #2aa198;
        }
        .s { /* string */
          color: #718c00;
        }
        .r { /* regexp */
          color: #c82829;
        }
        .o { /* operator */
          color: #f5871f;
        }
        .p { /* punctual symbol */
          color: #6d8d6c;
        }
        .f { /* function name */
          color: #4271ae;
        }
      }
      > img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
    p:empty:after {
      content: '\200B';
    }
  }
}

.bullet {
}

.paragraph {
  > .content {
    display: block;
  }
}

.code {
  > .content {
    display: block;
    font-family: monospace;
    background-color: #f5f2f0;
    padding: 6px 6px 6px 12px;
    margin-top: 6px;
    margin-bottom: 6px;
  }
}
